body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#forms {
    width: 40vw;
    display: flex;
    align-items: center;
}

form {
    margin: .5rem;
}

#table {
    display: flex;
    flex-wrap: wrap;
    width: 70vw;
    padding: .5rem;
    table-layout: fixed;
    overflow-y: scroll;
}

th {
    border: none;
}

th,td {
    display: inline-block;
    text-align: left;
    word-wrap: break-word;
}

#records-print {
    width: 70vw;
    margin-top: 2rem;
}

#pagesCopy:hover {
    cursor: pointer;
}

#check-records {
    font-size: x-large;
}

#bindery-message {
    width: 75vw;
}

/* ********************* */

@media print {
    /* #forms, #print-btn, #reset-btn, h3, #print-row, #fiery-notes { */
    #forms, #print-btn, #reset-btn, h3, #table, #fiery-notes {
        display: none;
    }
    
    body {
        color: black;
    }

    #bindery-message {
        width: 50vw;
    }
}